@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=VT323&display=swap');

* {
    margin: 0;
}
  
body {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  background-color: #2a2a2a;
}

h2 {
  font-size: 28px
}

#drum-machine {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.wrapper {
    display: flex;
    padding:55px;
    border: 2px solid black;
    border-radius: 14px;
    background-color: #c8c7c1;
}

.keyboard {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.keyboard-wrapper {
  background-color: rgb(141, 141, 141);
  padding: 10px;
}

.keyboard .drum-pad {
  width: 100px;
  height: 100px;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #464646;
  transition: all .2s ease-in-out;
  color: white;
}

@media(min-width: 768px){
  .wrapper {
      width: 680px;
  }
}

@media(min-width: 992px){
  .wrapper {
      grid-template-columns: 1fr 1fr;
  }
}
  
.screen {
  display: flex;
  height: 100px;
  width: 220px;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  background-color: #7e9908;
}

#volume-display {
  font-family: VT323, sans-serif;
  font-size: 28px;
}

#sound-display {
  font-family: VT323, sans-serif;
  font-size: 28px;
}

#powerbutton {
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
  margin-left: auto;
  margin-right: -110px;
  border: 2px solid black;
  background-color: #1f1f1f;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#on-off {
  border: 3px solid black;
  border-radius: 50px;
  padding: 8px;
  margin-left: auto;
  padding-left: 8px;
}

.right-side {
  display: flex;
  flex-direction: column;
  padding-bottom: 19px;
  padding-left: 26px;
  padding-right: 19px;
}

.power {
  display: flex;
  padding-bottom: 20px;
}

.volume {
  text-align: center;
  font-size: 20px;
  font-family: Poppins;
}

.switch-bank {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 10px;
  padding-top: 30px;
  font-size: 18px;
  font-family: Poppins;
}

.switch-bank-button {
  color: black;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}


.dummy-buttons1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-gap: 2px;
  padding-top: 30px;
}

.dummy-buttons2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-gap: 2px;
  padding-top: 25px;
}

#dummy {
  width: 45px;
  height: 35px;
  background-color: #e7e7e7;
  border-radius: 3px;
}

#dummy1 {
  width: 45px;
  height: 15px;
  background-color: #e7e7e7;
  border-radius: 3px;
}

input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: #c8c7c1;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}